<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Google Maps - gmplot</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false&key=AIzaSyBT_g38I4jmJAQ0NCaS4bDlIY3mMRHQsTI"></script>
<script type="text/javascript">
    function initialize() {
        var map = new google.maps.Map(document.getElementById("map_canvas"), {
            zoom: 10,
            center: new google.maps.LatLng(24.863638, 67.073024)
        });

        new google.maps.Polyline({
            clickable: false,
            geodesic: true,
            strokeColor: "#FF0000",
            strokeOpacity: 1.000000,
            strokeWeight: 10,
            map: map,
            path: [
                new google.maps.LatLng(24.863670, 67.073160),
                new google.maps.LatLng(24.863490, 67.073210),
                new google.maps.LatLng(24.863680, 67.073780),
                new google.maps.LatLng(24.863970, 67.074400),
                new google.maps.LatLng(24.864090, 67.074570),
                new google.maps.LatLng(24.864860, 67.076100),
                new google.maps.LatLng(24.865010, 67.076410),
                new google.maps.LatLng(24.865170, 67.076870),
                new google.maps.LatLng(24.865460, 67.077590),
                new google.maps.LatLng(24.865510, 67.077780),
                new google.maps.LatLng(24.865660, 67.078320),
                new google.maps.LatLng(24.865840, 67.078860),
                new google.maps.LatLng(24.866050, 67.079530),
                new google.maps.LatLng(24.866130, 67.079730),
                new google.maps.LatLng(24.866110, 67.079770),
                new google.maps.LatLng(24.866100, 67.079840),
                new google.maps.LatLng(24.866180, 67.080140),
                new google.maps.LatLng(24.866690, 67.081610),
                new google.maps.LatLng(24.866750, 67.081810),
                new google.maps.LatLng(24.867050, 67.082600),
                new google.maps.LatLng(24.867230, 67.083020),
                new google.maps.LatLng(24.867420, 67.083390),
                new google.maps.LatLng(24.868370, 67.085080),
                new google.maps.LatLng(24.868770, 67.085780),
                new google.maps.LatLng(24.871640, 67.090470),
                new google.maps.LatLng(24.872600, 67.092110),
                new google.maps.LatLng(24.872950, 67.092620),
                new google.maps.LatLng(24.873620, 67.093380),
                new google.maps.LatLng(24.873870, 67.093670),
                new google.maps.LatLng(24.874050, 67.093930),
                new google.maps.LatLng(24.874290, 67.094280),
                new google.maps.LatLng(24.874460, 67.094650),
                new google.maps.LatLng(24.874590, 67.094970),
                new google.maps.LatLng(24.874780, 67.095520),
                new google.maps.LatLng(24.874940, 67.095970),
                new google.maps.LatLng(24.874990, 67.096120),
                new google.maps.LatLng(24.875650, 67.098170),
                new google.maps.LatLng(24.875930, 67.099170),
                new google.maps.LatLng(24.876170, 67.100280),
                new google.maps.LatLng(24.876320, 67.100850),
                new google.maps.LatLng(24.876510, 67.101410),
                new google.maps.LatLng(24.876680, 67.101840),
                new google.maps.LatLng(24.876890, 67.102310),
                new google.maps.LatLng(24.878040, 67.104590),
                new google.maps.LatLng(24.879300, 67.106980),
                new google.maps.LatLng(24.880130, 67.108530),
                new google.maps.LatLng(24.880410, 67.109060),
                new google.maps.LatLng(24.880630, 67.109440),
                new google.maps.LatLng(24.881310, 67.110570),
                new google.maps.LatLng(24.882060, 67.111900),
                new google.maps.LatLng(24.882520, 67.112720),
                new google.maps.LatLng(24.883170, 67.113990),
                new google.maps.LatLng(24.883340, 67.114310),
                new google.maps.LatLng(24.883920, 67.115450),
                new google.maps.LatLng(24.884100, 67.115830),
                new google.maps.LatLng(24.884420, 67.116550),
                new google.maps.LatLng(24.884620, 67.117010),
                new google.maps.LatLng(24.884970, 67.117900),
                new google.maps.LatLng(24.885010, 67.117980),
                new google.maps.LatLng(24.885650, 67.119710),
                new google.maps.LatLng(24.886080, 67.121020),
                new google.maps.LatLng(24.886120, 67.121200),
                new google.maps.LatLng(24.886160, 67.121480),
                new google.maps.LatLng(24.886260, 67.121980),
                new google.maps.LatLng(24.886490, 67.122650),
                new google.maps.LatLng(24.886830, 67.123850),
                new google.maps.LatLng(24.887010, 67.124700),
                new google.maps.LatLng(24.887070, 67.125390),
                new google.maps.LatLng(24.887130, 67.126280),
                new google.maps.LatLng(24.887150, 67.127740),
                new google.maps.LatLng(24.887280, 67.130680),
                new google.maps.LatLng(24.887310, 67.131770),
                new google.maps.LatLng(24.887310, 67.132310),
                new google.maps.LatLng(24.887310, 67.133810),
                new google.maps.LatLng(24.887280, 67.134700),
                new google.maps.LatLng(24.887130, 67.137800),
                new google.maps.LatLng(24.886940, 67.141160),
                new google.maps.LatLng(24.886940, 67.142110),
                new google.maps.LatLng(24.886970, 67.143190),
                new google.maps.LatLng(24.886960, 67.143980),
                new google.maps.LatLng(24.886940, 67.145190),
                new google.maps.LatLng(24.886980, 67.148100),
                new google.maps.LatLng(24.887000, 67.150190),
                new google.maps.LatLng(24.887010, 67.152270),
                new google.maps.LatLng(24.887020, 67.155020),
                new google.maps.LatLng(24.887020, 67.155890),
                new google.maps.LatLng(24.886960, 67.157200),
                new google.maps.LatLng(24.887030, 67.157470),
                new google.maps.LatLng(24.887120, 67.157650),
                new google.maps.LatLng(24.887210, 67.157750),
                new google.maps.LatLng(24.887370, 67.157890),
                new google.maps.LatLng(24.887520, 67.157950),
                new google.maps.LatLng(24.887680, 67.157960),
                new google.maps.LatLng(24.889510, 67.157960),
                new google.maps.LatLng(24.891280, 67.157960),
                new google.maps.LatLng(24.892780, 67.157930),
                new google.maps.LatLng(24.893190, 67.157870),
                new google.maps.LatLng(24.893210, 67.158210),
                new google.maps.LatLng(24.893640, 67.159910),
                new google.maps.LatLng(24.894530, 67.163490),
                new google.maps.LatLng(24.894660, 67.163950),
                new google.maps.LatLng(24.894920, 67.165010),
                new google.maps.LatLng(24.895150, 67.165920),
                new google.maps.LatLng(24.895540, 67.167470),
                new google.maps.LatLng(24.895650, 67.167600),
                new google.maps.LatLng(24.895690, 67.167630),
                new google.maps.LatLng(24.895820, 67.167670),
                new google.maps.LatLng(24.895950, 67.167640),
                new google.maps.LatLng(24.896090, 67.167580),
                new google.maps.LatLng(24.896380, 67.167310),
                new google.maps.LatLng(24.896410, 67.167230),
                new google.maps.LatLng(24.896870, 67.166730),
                new google.maps.LatLng(24.897010, 67.166630),
                new google.maps.LatLng(24.897300, 67.166580),
                new google.maps.LatLng(24.898400, 67.166460),
                new google.maps.LatLng(24.898490, 67.166470),
                new google.maps.LatLng(24.898610, 67.166510),
                new google.maps.LatLng(24.899460, 67.167110),
                new google.maps.LatLng(24.899850, 67.167450),
                new google.maps.LatLng(24.900060, 67.168280),
                new google.maps.LatLng(24.900070, 67.168340),
            ]
        });

        new google.maps.Polyline({
            clickable: false,
            geodesic: true,
            strokeColor: "#0000FF",
            strokeOpacity: 1.000000,
            strokeWeight: 10,
            map: map,
            path: [
                new google.maps.LatLng(24.900070, 67.168340),
                new google.maps.LatLng(24.900240, 67.169020),
                new google.maps.LatLng(24.900240, 67.169220),
                new google.maps.LatLng(24.899870, 67.170100),
                new google.maps.LatLng(24.899620, 67.170660),
                new google.maps.LatLng(24.899520, 67.170760),
                new google.maps.LatLng(24.898780, 67.171140),
                new google.maps.LatLng(24.898210, 67.171430),
                new google.maps.LatLng(24.898120, 67.171440),
                new google.maps.LatLng(24.897960, 67.171400),
                new google.maps.LatLng(24.897730, 67.171300),
                new google.maps.LatLng(24.896420, 67.170970),
                new google.maps.LatLng(24.896170, 67.170890),
                new google.maps.LatLng(24.895920, 67.170830),
                new google.maps.LatLng(24.895290, 67.170630),
                new google.maps.LatLng(24.894770, 67.170420),
                new google.maps.LatLng(24.894410, 67.170270),
                new google.maps.LatLng(24.893820, 67.169980),
                new google.maps.LatLng(24.892920, 67.169440),
                new google.maps.LatLng(24.892500, 67.169150),
                new google.maps.LatLng(24.892020, 67.168790),
                new google.maps.LatLng(24.891660, 67.168550),
                new google.maps.LatLng(24.891180, 67.168290),
                new google.maps.LatLng(24.890920, 67.168200),
                new google.maps.LatLng(24.890600, 67.168130),
                new google.maps.LatLng(24.890220, 67.168110),
                new google.maps.LatLng(24.890070, 67.168110),
                new google.maps.LatLng(24.889560, 67.168160),
                new google.maps.LatLng(24.889280, 67.168140),
                new google.maps.LatLng(24.888840, 67.168030),
                new google.maps.LatLng(24.888610, 67.167960),
                new google.maps.LatLng(24.888310, 67.167810),
                new google.maps.LatLng(24.887830, 67.167570),
                new google.maps.LatLng(24.887480, 67.167410),
                new google.maps.LatLng(24.886880, 67.167060),
                new google.maps.LatLng(24.886000, 67.166660),
                new google.maps.LatLng(24.885880, 67.166420),
                new google.maps.LatLng(24.886580, 67.164830),
                new google.maps.LatLng(24.886740, 67.164380),
                new google.maps.LatLng(24.886820, 67.164050),
                new google.maps.LatLng(24.886880, 67.163630),
                new google.maps.LatLng(24.886910, 67.162990),
                new google.maps.LatLng(24.886920, 67.162550),
                new google.maps.LatLng(24.886930, 67.161740),
                new google.maps.LatLng(24.886830, 67.157980),
                new google.maps.LatLng(24.886870, 67.156570),
                new google.maps.LatLng(24.886860, 67.155730),
                new google.maps.LatLng(24.886910, 67.154700),
                new google.maps.LatLng(24.886890, 67.153490),
                new google.maps.LatLng(24.886870, 67.150290),
                new google.maps.LatLng(24.886860, 67.149280),
                new google.maps.LatLng(24.886850, 67.147300),
                new google.maps.LatLng(24.886840, 67.146820),
                new google.maps.LatLng(24.886780, 67.146780),
                new google.maps.LatLng(24.886720, 67.146720),
                new google.maps.LatLng(24.886690, 67.146670),
                new google.maps.LatLng(24.886680, 67.146600),
                new google.maps.LatLng(24.886710, 67.146470),
                new google.maps.LatLng(24.886700, 67.146240),
            ]
        });

        new google.maps.Polyline({
            clickable: false,
            geodesic: true,
            strokeColor: "#FFFF00",
            strokeOpacity: 1.000000,
            strokeWeight: 10,
            map: map,
            path: [
                new google.maps.LatLng(24.886700, 67.146240),
                new google.maps.LatLng(24.886710, 67.146470),
                new google.maps.LatLng(24.886720, 67.146450),
                new google.maps.LatLng(24.886750, 67.146420),
                new google.maps.LatLng(24.886840, 67.146390),
                new google.maps.LatLng(24.886840, 67.146300),
                new google.maps.LatLng(24.886840, 67.145570),
                new google.maps.LatLng(24.886840, 67.145550),
                new google.maps.LatLng(24.886840, 67.145310),
                new google.maps.LatLng(24.886840, 67.144100),
                new google.maps.LatLng(24.886840, 67.142970),
                new google.maps.LatLng(24.886820, 67.141880),
                new google.maps.LatLng(24.886860, 67.140340),
                new google.maps.LatLng(24.887010, 67.137600),
                new google.maps.LatLng(24.887160, 67.134420),
                new google.maps.LatLng(24.887190, 67.133500),
                new google.maps.LatLng(24.887190, 67.132670),
                new google.maps.LatLng(24.887180, 67.131640),
                new google.maps.LatLng(24.887140, 67.130970),
                new google.maps.LatLng(24.887090, 67.129730),
                new google.maps.LatLng(24.887010, 67.128070),
                new google.maps.LatLng(24.886960, 67.127710),
                new google.maps.LatLng(24.886870, 67.125640),
                new google.maps.LatLng(24.886860, 67.124900),
                new google.maps.LatLng(24.886820, 67.124310),
                new google.maps.LatLng(24.886700, 67.123880),
                new google.maps.LatLng(24.886520, 67.123330),
                new google.maps.LatLng(24.886130, 67.122030),
                new google.maps.LatLng(24.886050, 67.121660),
                new google.maps.LatLng(24.885910, 67.121010),
                new google.maps.LatLng(24.885430, 67.119550),
                new google.maps.LatLng(24.885130, 67.118680),
                new google.maps.LatLng(24.884870, 67.117990),
                new google.maps.LatLng(24.884610, 67.117380),
                new google.maps.LatLng(24.884450, 67.116980),
                new google.maps.LatLng(24.884140, 67.116270),
                new google.maps.LatLng(24.883510, 67.114930),
                new google.maps.LatLng(24.883110, 67.114170),
                new google.maps.LatLng(24.882290, 67.112610),
                new google.maps.LatLng(24.881360, 67.111010),
                new google.maps.LatLng(24.880220, 67.109030),
                new google.maps.LatLng(24.879480, 67.107670),
                new google.maps.LatLng(24.879170, 67.107100),
                new google.maps.LatLng(24.878940, 67.106650),
                new google.maps.LatLng(24.878470, 67.105790),
                new google.maps.LatLng(24.877690, 67.104220),
                new google.maps.LatLng(24.877120, 67.103050),
                new google.maps.LatLng(24.876620, 67.102070),
                new google.maps.LatLng(24.876230, 67.101060),
                new google.maps.LatLng(24.876010, 67.100290),
                new google.maps.LatLng(24.875760, 67.099150),
                new google.maps.LatLng(24.875580, 67.098500),
                new google.maps.LatLng(24.875310, 67.097660),
                new google.maps.LatLng(24.875210, 67.097440),
                new google.maps.LatLng(24.875040, 67.096880),
                new google.maps.LatLng(24.874800, 67.096110),
                new google.maps.LatLng(24.874610, 67.095530),
                new google.maps.LatLng(24.874330, 67.094820),
                new google.maps.LatLng(24.874100, 67.094340),
                new google.maps.LatLng(24.873940, 67.094060),
                new google.maps.LatLng(24.873820, 67.093890),
                new google.maps.LatLng(24.872830, 67.092750),
                new google.maps.LatLng(24.872650, 67.092530),
                new google.maps.LatLng(24.872430, 67.092180),
                new google.maps.LatLng(24.871270, 67.090220),
                new google.maps.LatLng(24.870050, 67.088200),
                new google.maps.LatLng(24.868350, 67.085440),
                new google.maps.LatLng(24.867560, 67.084100),
                new google.maps.LatLng(24.866950, 67.082860),
                new google.maps.LatLng(24.866490, 67.081690),
                new google.maps.LatLng(24.866160, 67.080770),
                new google.maps.LatLng(24.865900, 67.079950),
                new google.maps.LatLng(24.865790, 67.079550),
                new google.maps.LatLng(24.865500, 67.078770),
                new google.maps.LatLng(24.865460, 67.078620),
                new google.maps.LatLng(24.865460, 67.078520),
                new google.maps.LatLng(24.865460, 67.078460),
                new google.maps.LatLng(24.865290, 67.078020),
                new google.maps.LatLng(24.865300, 67.077950),
                new google.maps.LatLng(24.865320, 67.077920),
                new google.maps.LatLng(24.865370, 67.077920),
                new google.maps.LatLng(24.865440, 67.077970),
                new google.maps.LatLng(24.865600, 67.078130),
                new google.maps.LatLng(24.865790, 67.078700),
                new google.maps.LatLng(24.866170, 67.078650),
                new google.maps.LatLng(24.866410, 67.078650),
                new google.maps.LatLng(24.866610, 67.078670),
                new google.maps.LatLng(24.866760, 67.078700),
                new google.maps.LatLng(24.866650, 67.078260),
                new google.maps.LatLng(24.866500, 67.077690),
                new google.maps.LatLng(24.865860, 67.077720),
                new google.maps.LatLng(24.865650, 67.077750),
                new google.maps.LatLng(24.865510, 67.077780),
                new google.maps.LatLng(24.865480, 67.077650),
                new google.maps.LatLng(24.865410, 67.077450),
                new google.maps.LatLng(24.865010, 67.076410),
                new google.maps.LatLng(24.864350, 67.075070),
                new google.maps.LatLng(24.864090, 67.074570),
                new google.maps.LatLng(24.863970, 67.074400),
                new google.maps.LatLng(24.863680, 67.073780),
                new google.maps.LatLng(24.863490, 67.073210),
                new google.maps.LatLng(24.863670, 67.073160),
            ]
        });

    }
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
    <div id="map_canvas" style="width: 100%; height: 100%;" />
</body>
</html>
