<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Routes</title>
</head>
<body>
    <h1>Show Routes</h1>
    <ul id="routes-list">
        {% for line in lines %}
            <li>{{ line }}</li>
        {% endfor %}
        {% for i in range(N) %}
        <a href="{{ url_for('button_route', button_number=i+1) }}">
            <button>Route {{ i+1 }}</button>
        </a>
        {% endfor %}
    </ul>
    
</body>
</html>
